.box
  %h1
    Résumé des réponses finales :
  %ul
    - Answer.all.map{|a| a.user_answers.last}.tally.each do |answer, count|
      %li= "#{answer} : #{count}"

  %h1
    All answers by user
  - Answer.all.find_each do |answer_data|
    .answer-summary
      .user-data
        = "#{answer_data.username} : #{answer_data.user_answers[-1]}"
      .answers
        %ul
          - answer_data.user_answers[0..-2].each do |answer|
            %li= answer
